*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	letter-spacing: 2px;
	word-spacing: 3px;
	font-weight: 1;
	font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.landingpage {
	background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 1)
        ),
        url(../images/back-customers.jpg);
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	opacity:0.9;
	}

.landingpage-left {
	float: left;
	width: 30vw;
	height: 90vh;
	margin: 2%;
	text-align: center;
}

.landingpage-left > h1,
.landingpage-left > p,
.landingpage-left > img-landingpage
{
padding: 3%
}

.landingpage-right {
	float: right;
	width: 60vw;
	height: 90vh;
	margin: 2%;
border:1px solid grey;
border-radius: 10px;

}

.landingpage-right-h1 {
	text-align: center;
	margin-top: 10%;
}


.img-landingpage {
	height: 300px;
	width: auto;
	border-radius: 5%;
}

.form-contents, .contact-message{
	width: 100%;
	text-align: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

/* form input is the inside classes of inside form*/
.form-input {
	display: block;
	width: 80%;
	border-radius: 10px;
	font-size: 18px;
	margin: 5px 0;

}

.form-input-message {
	display: block;
	width: 80%;
	border-radius: 10px;
	font-size: 18px;
	margin: 5px 0;

}

.form-contents-form {
	margin-left: 15%;
	margin-top: 2%;
}

.contact-btn {
background-color: transparent;
border: 1px solid white;
border-radius: 10px;
padding: 2%;
margin-left: 30%;
margin-top: 2%;
}

.contact-btn-p {
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram,
.fa-gitlab {
font-size: 2em;
}
.buttons-media {
	margin-top: 2%;
	margin-left: 39%;
}

.home-button {
	margin-left: 41%;
	text-decoration: none;
}

.home-div {
	margin-top: 1	0%;
}