* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    word-spacing: 3px;  
    color: white;
}

.landingpage {
	background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 1)
        ),
        url(../images/back-customers.jpg);
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	opacity:0.9;
	}

.landingpage-left {
	float: left;
	width: 30vw;
	height: 90vh;
	margin: 2%;
	text-align: center;
}

.landingpage-left > h1,
.landingpage-left > p,
.landingpage-left > img-landingpage
{
padding: 3%
}

.landingpage-right {
	float: right;
	width: 60vw;
	height: 90vh;
	margin: 2%;
border:1px solid grey;
border-radius: 10px;

}

.landingpage-right-h1 {
	text-align: center;
	margin-top: 10%;
}


.img-landingpage {
	height: 300px;
	width: auto;
	border-radius: 5%;
}

.form-contents, .contact-message{
	width: 100%;
	text-align: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

/* form input is the inside classes of inside form*/
.form-input {
	display: block;
	width: 80%;
	border-radius: 10px;
	font-size: 18px;
	margin: 5px 0;

}

.form-contents-form {
	margin-left: 15%;
	margin-top: 2%;
}

.contact-btn {
background-color: transparent;
border: 1px solid white;
border-radius: 10px;
padding: 2%;
margin-left: 30%;
margin-top: 2%;
}

.contact-btn-p {
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram,
.fa-gitlab {
font-size: 2em;
}
.buttons-media {
	margin-top: 2%;
	margin-left: 39%;
}

.home-button {
	margin-left: 38%;
	text-decoration: none;
}

.home-button:hover {
    color:white;
}

.home-div {
	margin-top: 2%;
}

.home-div > a {
}

.form-input-message {
	display: block;
	width: 80%;
	border-radius: 10px;
	font-size: 18px;
	margin: 5px 0;
	height: 10em;

}

.submit-button {
    background: transparent;
    padding: 2% 3%;
    border-radius: 2em;
    outline: none;
    margin-left: 30%;
    margin-top: 2%;
}

.submit-button:hover {
    background-color: #aaa;
}

.fa-facebook-square:hover {
    color: dodgerblue;
}

.fa-twitter-square:hover {
    color: deepskyblue;
}

.fa-instagram:hover {
    color: magenta;
}

.fa-gitlab:hover {
    color: orangered;
}